<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HCRealm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EABD03FD1D361A84009B5C6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EABD04161D361A84009B5C6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EABD04211D361A85009B5C6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
